@import url("./custom-fonts.css");
@import url("./xobett-reset.css");
@import url("./josh-comeau-reset.css");
@import url("./variables.css");
@import url("./components.css");
@import url("./custom-classes.css");
@import url("./waves.css");

body {
  height: 100svh;
  width: 100svw;
  background-color: var(--bg);
  font-family: var(--font-family);
}

#waves-bg {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
}

.game-container {
  width: 100%;
  height: 100%;

  /* TODO: FIX WHY IT OVERFLOWS */
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.player-1-container,
.player-2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#player-1-board,
#player-2-board {
  display: grid;
  grid-template-columns: repeat(10, 43px);
  grid-template-rows: repeat(10, 43px);
}

.position {
  border: 1px solid black;
  background-color: beige;

  transition: background-color 0.3s ease;
}

.position:hover {
  background-color: var(--pos-hvr-clr);
}

.position:active {
  background-color: var(--pos-act-clr);
}
