#fleet-placement-scene.active {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

#fleet-placement-scene .options-advice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;

  font-size: 1.2rem;
  text-align: center;
}

#fleet-placement-scene .advice-container .hint-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#fleet-placement-scene .advice-container ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 10px;

  margin-inline: auto;
  text-align: left;
  width: 70%;
}

#fleet-placement-scene .advice-container li {
  display: flex;
  gap: 30px;
}

.player-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.player-info-container .avatar-icon {
  width: 170px;
  height: 170px;
}

#fleet-placement-scene .placement-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
}

#player-placement-board {
  background-color: rgb(139, 137, 137);
  width: 460px;
  height: 460px;

  border: 4px solid rgb(100, 100, 100);
  box-shadow: inset 0px 0px 10px black;
  background-color: rgb(100, 100, 100);
  border-radius: 12px;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  position: relative;
}

#player-placement-board .position {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.fleet-input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-btns-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.fleet-container {
  width: 530px;
  height: 90px;
  border: 4px solid rgb(100, 100, 100);
  box-shadow: inset 0px 0px 10px black;
  background-color: rgb(113, 184, 212);
  border-radius: 12px;

  z-index: 10;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  position: relative;
}

.fleet-container .ship {
  border: 1px solid rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
}

.fleet-container::before,
#player-placement-board::before {
  outline: 5px solid rgb(85, 85, 85);
  border-radius: inherit;
  position: absolute;

  content: "";
  width: calc(100%);
  height: calc(100%);

  z-index: 100;
  pointer-events: none;
}

.input-btns-container li {
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(203, 228, 238, 0.24);
  padding: 7px;
  border-radius: 7px;

  transition: all 0.1s ease;
}

.input-btns-container li:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgba(203, 228, 238, 0.24);
}
