#menu-scene.active {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#menu-scene .options-container,
#menu-scene .avatar-customization-container {
  width: 100%;
  height: 100%;
}

#menu-scene .options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 120px;

  font-size: 1.7rem;
}

.options-container li {
  position: relative;
}

.options-container li:hover {
  cursor: pointer;
}

.options-container li::before {
  position: absolute;
  content: "-";
  top: 0;
  left: 0;
  transform: translateX(-20px) scale(0);
  transition: transform 0.2s ease;
}

.options-container li:hover::before {
  transform: translateX(-35px) scale(1);
}

#menu-scene .avatar-customization-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.avatar-picker-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 130px));
  grid-template-rows: repeat(3, minmax(100px, 130px));
  gap: 20px;
}

.avatar-icon {
  background-color: rgba(255, 255, 255, 0.281);
  border-radius: 100px;
  border: 4px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.avatar-icon:has(img):hover {
  cursor: pointer;
  transform: scale(1.1);
}

.avatar-icon > p {
  font-size: 0.7rem;
}

.avatar-icon[data-avatar-icon="santa-clous"] {
  grid-column: 2;
  grid-row: 3;
}

.avatar-icon:has(:not(img)) {
  background-color: transparent;
  border: 10px solid rgba(255, 255, 255, 0.281);
}

.avatar-icon:has(:not(img)) {
  cursor: no-drop;
}

.avatar-icon img {
  pointer-events: none;
}
